/resources/music/images/*
/resources/music/lyrics/*
/resources/music/songs/*

out/

/One Click App Here/music/images/*
/One Click App Here/music/lyrics/*
/One Click App Here/music/songs/*

!/resources/music/images/.gitkeep
!/resources/music/lyrics/.gitkeep
!/resources/music/songs/.gitkeep

!/One Click App Here/music/images/.gitkeep
!/One Click App Here/music/lyrics/.gitkeep
!/One Click App Here/music/songs/.gitkeep